@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  --primary-color: #7fbd32;
  --secondary-color: #448d76;
  --dark-green: #093426;
  --beige: #f3f7d4;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--beige);
  font-family: "Pacifico", cursive;
}
.main-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}
.checked {
  text-decoration: line-through;
  color: gray;
}

ol {
  display: flex;
  flex-direction: column;
  gap: 1.5px;
}
ol li {
  font-size: 1.5rem;
  display: flex;
  gap: 10px;
}

.page-buttons {
  display: flex;
  justify-content: space-between;
  font-family: "Pacifico", cursive;
  padding-bottom: 1rem;
}

button {
  min-width: 2rem;
  height: 2rem;
  background-color: var(--secondary-color);
  font-family: "Pacifico", cursive;
}
.delete-btn {
  background-color: var(--secondary-color);
  transition: background-color 0.3s ease;
  border: 2px solid var(--primary-color);
}
.delete-btn:hover {
  background-color: var(--dark-green);
}
.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-div {
  height: 70vh;
  overflow-y: auto;
}
.form-div form {
  display: flex;
  flex-direction: column;
}
